.ProfileHeader {
  @extend %bg-image;
  height: 500px;
  color: #fff;
  position:relative;
}

.ProfileHeaderMenu {
  position: absolute;
  background-color:	$cgreen;
  width:100%;
  border-top:2px solid;
  bottom: 0;
}

.ProfileAvatar {
  position: absolute;
  padding-left: 30px;
  bottom:-30px;
}

.ProfileAvatarImg {
  height: 200px;
  width: 200px;
  max-width: 200px;
  position: relative;
  overflow: hidden;
}

.ProfileHeaderNavBar {
  padding-right: 30px;

  li > a {
    font-size:1.3em;
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
    color:#fff;
    padding:10px;
    margin:5px;
    border: 2px solid transparent;
  }

  li:hover, li:focus {
    border-bottom-color: #000;
    border-bottom: 3px;
  }

  li > a:hover, li > a:focus {
    background-color:transparent;
    animation-name: rubberBand;
    transform-origin: center;
    animation-duration: 1s;
  }

  li.active > a, li > a:hover {
    border-radius: 50%;
    border: 2px solid #fff;
  }
}

.ProfileCard {
  padding: 30px 70px;
  font-family: Arial, Serif, Georgia, "Times New Roman";
}

.ProfileCardName {
  font-weight: bold;
  font-size: 1.5em;
  margin:0;
}

@media (max-height: 767px) {
  .ProfileHeader {
    height:350px;
  }
}
